<h1>Listing steps</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr>
    <td><%= step.name %></td>
    <td><%= link_to 'Show', list_step_path(@list, step) %></td>
    <td><%= link_to 'Edit', edit_list_step_path(@list, step) %></td>
    <td><%= link_to 'Destroy', [@list, step], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_list_step_path(@list) %>
